.card {
  padding: 1em;
  background: #0bd69c;
  position: absolute;
  top: 80px;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.content {
  // width: 400px;
  // height: 600px;
  background-color: azure;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 80px;
  right: 0;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  z-index: 9999;
}
